@import '../../styles/variables.scss';

.reviews {
  padding: 8rem 1.5rem 10rem 1.5rem;
  font-weight: 200;
  min-height: 100vh;
  margin-bottom: 2rem;
  @include breakpoint(md) {
    padding: 8rem 1.5rem 14rem 1.5rem;
  }

  .heading {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: $Ibarra_Real_Nova;
    margin-bottom: 6rem;
    color: $brown;
    @include breakpoint(sm) {
      font-size: 2.4rem;
      margin-bottom: 3rem;
    }
  }
  .carousel {
    .slide {
      display: flex !important;
      justify-content: center;
      .review {
        background-color: $bg;
        border: 5px solid $yellow;
        border-radius: 20px;
        max-width: 25rem;
        min-height: 20rem;
        font-size: 1.2rem;
        padding: 2rem 2rem;

        @include breakpoint(lg) {
          width: 23rem;
          min-height: 25rem;
        }
        @include breakpoint(sliderlg) {
          width: 100%;
          min-height: 20rem;
        }
        @include breakpoint(md) {
          width: 100%;
        }
        @include breakpoint(sm) {
          min-height: 28rem;
        }
        .name {
          font-weight: 400;
          font-size: 1.5rem;
          margin-bottom: 2rem;
        }
        .text {
          font-size: 1.1rem;
        }
      }
    }
  }
  .quote {
    width: 40%;
    font-size: 1.2rem;
    text-align: end;
    float: right;
    margin-top: 2rem;
    @include breakpoint(lg) {
      width: 80%;
    }
  }
}
