@import '../../styles/variables.scss';

.carouselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 5rem auto 7rem auto;

  .heading {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: $Ibarra_Real_Nova;
    margin-bottom: 6rem;
    color: $brown;

    @include breakpoint(sm) {
      font-size: 2.3rem;
      margin-bottom: 3rem;
    }
  }

  .carousel {
    overflow: hidden;
    width: 100%;
    position: relative;

    .carouselInner {
      display: flex;
      transition: transform 0.5s ease;
      @include breakpoint(sm) {
        display: block;
      }
      @include breakpoint(sm) {
        display: none;
      }
    }
  }
  .review {
    min-width: calc(calc(100% - 4rem) / 3);
    margin: 0 10px;
    border: 5px solid $terracotta;
    border-radius: 20px;
    font-size: 1.2rem;
    padding: 2rem;

    @include breakpoint(xl) {
      min-width: calc(calc(100% - 2.5rem) / 2);
    }
  }
  .smallCarousel {
    display: none;
    @include breakpoint(sm) {
      display: block;
    }
    .review {
      margin-bottom: 3rem;
    }
  }
  .dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    @include breakpoint(sm) {
      display: none;
    }

    .dot {
      height: 10px;
      width: 10px;
      margin: 0 5px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      cursor: pointer;

      &.active {
        background-color: #717171;
      }
    }
  }
  .loadMore {
    display: none;
    cursor: pointer;
    background-color: $terracotta;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    color: #fff;
    border: 1px solid $terracotta;
    font-weight: 300;
    font-family: $Raleway;
    border-radius: 5px;
    &:hover {
      background-color: transparent;
      color: $terracotta;
    }
    @include breakpoint(sm) {
      display: block;
    }
  }
}
