@import '../../styles/variables.scss';

.services {
  .heading {
    .carousel {
      border-bottom: 4px solid $bordo;
      border-top: 4px solid $bordo;
      padding: 1rem 0;

      .service {
        .name {
          text-align: center;
          font-size: 3rem;
          text-transform: uppercase;
          font-weight: 600;
          font-family: $Ibarra_Real_Nova;
          color: $bordo;
          white-space: nowrap;
          padding-right: 3rem;
          @include breakpoint(sm) {
            font-size: 2.3rem;
          }
        }
      }
    }
  }
  .serviceList {
    margin-top: 4rem;
    margin-bottom: 4rem;
    color: $dark_brown;
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
    .service {
      width: 20rem;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
      @include breakpoint(sm) {
        width: 17rem;
      }

      img {
        width: 20rem;
        height: 24rem;
        object-fit: cover;

        @include breakpoint(sm) {
          width: 17rem;
          height: 17rem !important;
        }
      }
      .name {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 400;
        line-height: 2rem;
        padding-top: 1.5rem;
      }
      .description {
        font-size: 1rem;
        font-weight: 100;
        line-height: 2rem;
      }
      &:nth-of-type(2n) {
        img {
          height: 20rem;
        }
      }
    }
  }
}
