@import '../../styles/variables.scss';

.home {
  padding: 6rem 1.5rem 1.5rem 1.5rem;
  font-family: $Josefin_Sans;
  font-weight: 200;

  @include breakpoint(burger) {
    padding: 6rem 7rem 1.5rem 7rem;
  }
  .first_block {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    min-height: calc(100vh - 100px);
    @include breakpoint(lg) {
      display: flex;
      flex-direction: column;
    }
    .main {
      @include breakpoint(lg) {
        order: 2;
      }
      .heading {
        font-size: 6vw;
        text-transform: uppercase;
        font-family: $Ibarra_Real_Nova;
        color: $brown;
        font-weight: 700;
        width: 60%;

        @include breakpoint(burger) {
          font-size: 5vw;
        }

        @include breakpoint(lg) {
          width: 100%;
          font-size: 60px;
          text-align: center;
        }

        @include breakpoint(md) {
          font-size: 2.5rem;
        }
        @include breakpoint(sm) {
          font-size: 2rem;
        }
      }
      .subheading {
        color: $brown;
        font-size: 20px;
        width: 40%;
        margin: 1rem 0 3rem 0;
        line-height: 2rem;
        min-height: 100px;
        @include breakpoint(lg) {
          width: 100%;
          text-align: center;
          min-height: 50px;
          margin: 1rem 0 2rem 0;
        }
        @include breakpoint(md) {
          margin: 1rem 0 1rem 0;
          min-height: 50px;
        }
        @include breakpoint(sm) {
          min-height: 96px;
        }
      }
      .service_button {
        color: $white;
        background-color: $terracotta;
        border: 1px solid $terracotta;
        text-transform: uppercase;
        font-family: $Josefin_Sans;
        font-size: 24px;
        padding: 2rem 5rem;
        text-decoration: none;
        @include breakpoint(lg) {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        @include breakpoint(sm) {
          padding: 2rem 2rem;
          margin-top: 2rem;
        }
        &:hover {
          background-color: $white;
          color: $terracotta;
          border: 1px solid $terracotta;
        }
      }
    }
    .first_image {
      @include breakpoint(lg) {
        order: 1;
        margin: 0 auto;
        margin-bottom: 2rem;
      }
      img {
        width: 40vw;
        float: right;

        @include breakpoint(burger) {
          width: 30rem;
        }

        @include breakpoint(lg) {
          float: none;
          width: 60%;
          display: flex;
          margin: 0 auto;
        }
        @include breakpoint(md) {
          width: 90%;
        }
        @include breakpoint(sm) {
          width: 95%;
          margin-top: 2rem;
        }
      }
    }
  }
  .second_block {
    color: $brown;
    display: grid;
    align-items: center;
    gap: 4rem;
    grid-template-columns: repeat(2, 1fr);
    min-height: calc(100vh - 100px);
    @include breakpoint(lg) {
      display: flex;
      flex-direction: column;
      margin-top: 7rem;
    }
    @include breakpoint(sm) {
      margin-top: 4rem;
    }
    .second_image {
      @include breakpoint(lg) {
        order: 2;
      }
      img {
        width: 37rem;
        @include breakpoint(lg) {
          width: 80%;
          margin: 0 auto;
          display: flex;
        }
        @include breakpoint(sm) {
          width: 95%;
        }
      }
    }
    .about {
      @include breakpoint(lg) {
        order: 1;
      }
      .greetings {
        font-size: 36px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
      }
      .bio {
        font-size: 24px;
        margin-bottom: 2.5rem;
        line-height: 2.5rem;

        span {
          font-size: 25px;
          text-transform: uppercase;
          font-weight: 400;
        }
      }
      .mission_heading {
        font-size: 36px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 1rem;
      }
      .mission {
        font-size: 24px;
        line-height: 2.5rem;
      }
    }
  }
}
