@import '../../styles/variables.scss';

.home {
  font-weight: 200;
  padding: 0 1.5rem;

  @include breakpoint(burger) {
    padding: 0 5rem;
  }

  .first_block {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    min-height: calc(100vh - 100px);
    gap: 2rem;

    @include breakpoint(lg) {
      display: flex;
      flex-direction: column;
    }
    .main {
      @include breakpoint(lg) {
        order: 2;
      }

      .heading {
        font-size: 6vw;
        text-transform: uppercase;
        font-family: $Ibarra_Real_Nova;
        color: $dark_brown;
        font-weight: 700;
        width: 60%;

        @include breakpoint(burger) {
          font-size: 5vw;
        }

        @include breakpoint(lg) {
          width: 100%;
          font-size: 60px;
          text-align: center;
        }

        @include breakpoint(md) {
          font-size: 2.5rem;
        }
        @include breakpoint(sm) {
          font-size: 2rem;
        }
      }
      .subheading {
        color: $dark_brown;
        font-size: 20px;
        width: 40%;
        margin: 1rem 0 3rem 0;
        line-height: 2rem;
        min-height: 100px;
        @include breakpoint(lg) {
          width: 100%;
          text-align: center;
          margin: 1rem 0 2rem 0;
        }
        @include breakpoint(md) {
          margin: 1rem 0 1rem 0;
          min-height: 50px;
        }
        @include breakpoint(sm) {
          min-height: 70px;
        }
      }
      .service_button {
        color: $white;
        background-color: $bordo;
        border: 1px solid $bordo;
        text-transform: uppercase;
        font-family: $Josefin_Sans;
        font-size: 24px;
        padding: 2rem 5rem;
        text-decoration: none;
        @include breakpoint(lg) {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        @include breakpoint(sm) {
          padding: 2rem 2rem;
          margin-top: 2rem;
        }
        &:hover {
          background-color: $white;
          color: $bordo;
          border: 1px solid $bordo;
        }
      }
    }
    .first_image {
      @include breakpoint(lg) {
        order: 1;
        margin: 0 auto;
        margin-bottom: 2rem;
      }
      img {
        width: 30rem;
        height: calc(100vh - 200px);
        float: right;
        object-fit: cover;

        @include breakpoint(xl) {
          width: 25rem;
        }

        @include breakpoint(lg) {
          float: none;
          display: flex;
          margin: 0 auto;
          height: 35rem;
          width: 70vw;
        }
        @include breakpoint(md) {
          width: 32rem;
          height: 40rem;
        }
        @include breakpoint(sm) {
          height: 25rem;
          width: 25rem;
        }
        @include breakpoint(xs) {
          margin-top: 2rem;
          height: 23rem;
          width: 85vw;
        }
      }
    }
  }
  .second_block {
    color: $dark_brown;
    display: grid;
    align-items: center;
    gap: 4rem;
    grid-template-columns: repeat(2, 1fr);
    min-height: calc(100vh - 100px);

    @include breakpoint(lg) {
      display: flex;
      flex-direction: column;
      margin-top: 7rem;
    }

    @include breakpoint(sm) {
      margin-top: 4rem;
      gap: 0;
    }

    .second_image {
      @include breakpoint(lg) {
        order: 2;
      }
      img {
        width: 35rem;
        object-fit: cover;
        height: calc(100vh - 150px);
        object-position: top;

        @include breakpoint(xl) {
          width: 25rem;
          height: calc(100vh - 300px);
        }

        @include breakpoint(lg) {
          width: 32rem;
          margin: 0 auto;
          display: flex;
        }
        @include breakpoint(sm) {
          height: 25rem;
          width: 25rem;
        }
        @include breakpoint(xs) {
          margin-top: 2rem;
          height: 23rem;
          width: 85vw;
        }
      }
    }
    .about {
      @include breakpoint(lg) {
        order: 1;
      }
      .greetings {
        font-size: 36px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
        @include breakpoint(xl) {
          font-size: 30px;
        }
      }
      .bio {
        font-size: 24px;
        margin-bottom: 2.5rem;
        line-height: 2.5rem;
        @include breakpoint(xl) {
          font-size: 18px;
          line-height: 2rem;
        }

        span {
          font-size: 25px;
          text-transform: uppercase;
          font-weight: 400;
          @include breakpoint(xl) {
            font-size: 22px;
          }
        }
      }
    }
  }
}
