@import '../../styles/variables.scss';

.values {
  font-weight: 200;
  background-image: url('../../../public/images/values5.JPG');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3rem 7rem;
  min-height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include breakpoint(xl) {
    padding: 3rem 1.5rem;
  }

  .heading {
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: $Ibarra_Real_Nova;
    margin-bottom: 6rem;
    // color: $bg;

    @include breakpoint(sm) {
      font-size: 2.3rem;
      margin-bottom: 3rem;
    }
  }
  .valuelist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    color: $brown;
    .value {
      background-color: $bg;
      border: 5px solid $terracotta;
      width: 20rem;
      min-height: 15rem;
      font-size: 1.2rem;
      padding: 2rem 2rem;

      @include breakpoint(sm) {
        width: 100%;
      }

      .id {
        font-weight: 400;
        font-size: 2.5rem;
        margin-bottom: 2rem;
      }
    }
  }
}
