@import '../../styles/variables.scss';

.values {
  margin: 8rem 0 0 0;
  padding: 10rem 1.5rem 10rem 1.5rem;
  font-weight: 200;
  background-image: url('../../../public/images/values.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include breakpoint(burger) {
    padding: 10.5rem 7rem 10.5rem 7rem;
  }

  @include breakpoint(md) {
    padding: 4rem 1.5rem 5rem 1.5rem;
  }

  .heading {
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: $Ibarra_Real_Nova;
    margin-bottom: 6rem;
    color: $bg;

    @include breakpoint(sm) {
      font-size: 2.4rem;
      margin-bottom: 3rem;
    }
  }
  .valuelist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    color: $brown;
    .value {
      background-color: $bg;
      border: 5px solid $yellow;
      width: 20rem;
      min-height: 15rem;
      font-size: 1.2rem;
      padding: 2rem 2rem;
      .id {
        font-weight: 400;
        font-size: 2.5rem;
        margin-bottom: 2rem;
      }
    }
  }
}
