@import '../../styles/variables.scss';

.dropdown {
  position: relative;

  .dropbtn {
    cursor: pointer;
    padding: 0.55rem 0.8rem;
    font-size: 1.5rem;
    color: $dark_brown;
    border: 1px solid transparent;
    display: flex;

    &:hover {
      background: rgba($dark_brown, 0.2);
    }
  }

  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    list-style-type: none;
    right: 0;

    li {
      &.selected {
        background: rgba($dark_brown, 0.5);

        a {
          color: $white;
        }
      }
      a {
        color: $black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;

        &:hover {
          background-color: rgba($dark_brown, 0.2);
        }
      }
    }
  }

  &:hover {
    .dropdownContent {
      display: block;
    }
  }
}
