@import '../../styles/variables.scss';

.dropdown {
  position: relative;
  display: inline-block;
  order: 1;

  .dropbtn {
    cursor: pointer;
    outline: none;
    padding: 0.55rem 1.25rem;
    font-size: 1.5rem;
    color: $brown;
    border: 1px solid transparent;
    transition: 0.3s ease all;
    display: flex;

    &:hover {
      background: rgba($brown, 0.2);
    }
    // &:active {
    //   background: linear-gradient(rgba($brown, 0.2), rgba($brown, 0.3));
    // }
  }

  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style-type: none;
    right: 0;

    li {
      &.selected {
        background: rgba($brown, 0.5);

        a {
          color: $white;
        }
      }
      a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;

        &:hover {
          background-color: rgba($brown, 0.2);
        }
      }
    }
  }

  &:hover {
    .dropdownContent {
      display: block;
    }
  }
}
