@import '../../styles/variables.scss';

.header {
  width: 100%;
  padding: 1.5rem 1.5rem;
  transition: 0.3s ease all;
  position: fixed;
  top: 0;
  background-color: $bg;

  z-index: 3;
  color: $brown;

  @include breakpoint(burger) {
    padding: 2rem 7rem;
  }

  .content {
    overflow: hidden;
    text-transform: uppercase;
    color: $brown;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 3000;
    font-family: $Josefin_Sans;
    font-weight: 100;
    border-bottom: 1px solid $light_brown;

    .logo {
      font-size: 32px;
      text-decoration: none;
      color: $brown;
      text-transform: uppercase;
      font-family: $Ibarra_Real_Nova;
    }

    .nav {
      top: 0;
      right: 100%;
      bottom: 0;
      width: 100%;
      min-height: -webkit-fill-available;
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: rgba($dark, 0.9);
      backdrop-filter: blur(2px);
      transform: translate(0);
      transition: 0.3s ease transform;
      z-index: 3;

      @include breakpoint(burger) {
        transform: none;
        flex-direction: row;
        background: transparent;
        width: auto;
        height: 100%;
        position: static;
      }
      ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;

        @include breakpoint(burger) {
          flex-direction: row;
          align-items: center;
          margin-bottom: 0;
        }
        li {
          &.active {
            text-decoration: underline;
          }
          &:not(:last-child) {
            @include breakpoint(burger) {
              margin-bottom: 0;
            }
          }
          a {
            text-decoration: none;
            color: inherit;
            padding: 0.75rem 1.25rem;
            transition: 0.3s ease all;
            font-size: 20px;
            font-weight: 300;

            &:hover {
              background: rgba($brown, 0.1);
            }
            &:active {
              background: linear-gradient(rgba($white, 0.1), rgba($white, 0.2));
            }
          }
        }
      }
      button {
        cursor: pointer;
        outline: none;
        padding: 0.75rem 1.25rem;
        font-size: 1rem;
        font-family: inherit;
        background: $primary;
        color: $brown;
        border: 1px solid transparent;
        transition: 0.3s ease all;

        &:hover {
          border-color: $primary;
          background: rgba($primary, 0.1);
          color: $primary;
        }
        &:active {
          border-color: $primary;
          background: linear-gradient(rgba($primary, 0.2), rgba($primary, 0.3));
          color: $primary;
        }
      }

      &.isMenu {
        transform: translate(100%) !important;
        z-index: 1100;
        color: $bg;
        line-height: 2.5rem;
      }
      &.withoutMenu {
        transform: none;
      }
    }

    .toggle {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 2rem;
      transition: 0.3s ease all;
      position: relative;
      z-index: 1100;

      &:hover {
        color: rgba($brown, 0.5);
      }

      @include breakpoint(burger) {
        display: none;
      }
      .close {
        color: $bg;
      }
    }
  }
}
