@import '../../../styles/variables.scss';

.forBrands {
  .heading {
    .carousel {
      padding: 1rem 0;
      .brand {
        .name {
          text-align: center;
          font-size: 3rem;
          text-transform: uppercase;
          font-weight: 300;
          white-space: nowrap;
          padding-right: 3rem;
          color: $bordo;
          @include breakpoint(sm) {
            font-size: 2.3rem;
          }
        }
      }
    }
  }
  .lectionsIntegrations {
    padding: 2rem 1.5rem;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    @include breakpoint(burger) {
      padding: 2rem 7rem;
    }
    @include breakpoint(md) {
      display: block;
    }
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 2rem;
    .heading {
      font-size: 1.8rem;
      color: $bordo;
      text-transform: uppercase;
      width: 60%;
      font-family: $Ibarra_Real_Nova;
      margin-bottom: 1rem;
      @include breakpoint(md) {
        width: 100%;
        margin-top: 2rem;
      }
    }
    ul {
      margin-left: 1rem;
    }
    span {
      font-weight: 300;
      text-decoration: underline;
    }
    .lections {
      span {
        img {
          width: 20rem;
          height: 20rem;
          object-fit: cover;

          border-top-left-radius: 50%;
          border-top-right-radius: 50%;
          margin-bottom: 1rem;
          @include breakpoint(md) {
            border-radius: 0;
            width: 30rem;
            height: 30rem;
            margin: 0 auto;
          }
          @include breakpoint(sm) {
            width: 80vw;
            height: 30rem;
          }
          @include breakpoint(xs) {
            height: 20rem;
          }
        }
        @include breakpoint(md) {
          margin: 0 auto;
          display: flex !important;
        }
      }
    }
    .integrations {
      @include breakpoint(md) {
        margin-top: 3rem;
      }
      span {
        img {
          width: 20rem;
          height: 20rem;
          object-fit: cover;
          margin-top: 1rem;
          @include breakpoint(md) {
            border-radius: 0;
            width: 30rem;
            height: 30rem;
            margin: 0 auto;
            padding-top: 4rem;
          }
          @include breakpoint(sm) {
            width: 80vw;
            height: 30rem;
          }
          @include breakpoint(xs) {
            height: 20rem;
          }
        }
        @include breakpoint(md) {
          margin: 0 auto;
          display: flex !important;
        }
      }
    }
    a {
      line-height: 5rem;
      text-decoration: none;
      font-weight: 400;
      text-transform: lowercase;
      cursor: pointer;

      background: transparent;
      padding: 0.5rem 0.5rem;
      font-size: 1.5rem;

      border-top-left-radius: 255px 15px;
      border-top-right-radius: 15px 225px;
      border-bottom-right-radius: 225px 15px;
      border-bottom-left-radius: 15px 255px;
      border: solid 2px $bordo;
      color: $bordo;

      &:hover {
        border: solid 2px $bordo;
        color: $white;
        background: $bordo;
      }
    }
  }
}
