@import '../../../styles/variables.scss';

.service {
  padding: 0 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  min-height: calc(100vh - 110px);
  margin-bottom: 3rem;
  @include breakpoint(xl) {
    gap: 3rem;
  }
  @include breakpoint(lg) {
    gap: 1.5rem;
    padding: 0 1.5rem;
  }
  @include breakpoint(md) {
    display: block;
  }

  .image {
    display: flex;
    span {
      margin: 0 auto;
      img {
        margin: 0 auto;
        display: flex;
        width: 33rem;
        height: 38rem;
        object-fit: cover;
        @include breakpoint(xl) {
          width: 25rem;
        }
        @include breakpoint(lg) {
          width: 23rem;
        }
        @include breakpoint(md) {
          width: 100%;
          height: 30rem;
        }
        @include breakpoint(xs) {
          height: 25rem;
        }
      }
    }
  }
  .descItem {
    @include breakpoint(md) {
      margin-top: 2rem;
    }
    .name {
      font-family: $Ibarra_Real_Nova;
      font-weight: 500;
      color: rgb(138, 5, 5);
      font-size: 2.5rem;
      text-transform: uppercase;
      @include breakpoint(xl) {
        font-size: 2.2rem;
      }
      @include breakpoint(lg) {
        margin: 0 auto;
        font-size: 1.5rem;
      }
    }
    .description {
      font-family: $Ibarra_Real_Nova;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 1.3rem;
      margin: 1.5rem 0;
      @include breakpoint(xl) {
        font-size: 1.1rem;
      }
      @include breakpoint(lg) {
        font-size: 0.8rem;
      }
    }
    ul {
      font-weight: 200;
      margin-left: 1rem;
      line-height: 2.5rem;
      @include breakpoint(lg) {
        line-height: 1.8rem;
      }

      li {
        font-size: 1.3rem;
        @include breakpoint(lg) {
          font-size: 1rem;
        }
      }
    }
    .result {
      font-weight: 200;
      font-size: 1.4rem;
      margin: 1.5rem 0;
      @include breakpoint(lg) {
        font-size: 1.2rem;
      }
    }
    .price,
    .offlinePrice,
    .onlinePrice {
      color: rgb(138, 5, 5);
      font-family: $Ibarra_Real_Nova;
      font-size: 1.5rem;
      @include breakpoint(lg) {
        font-size: 1.3rem;
      }
    }
    .oldPrice {
      font-family: $Ibarra_Real_Nova;
      font-size: 1.3rem;
      text-decoration: line-through;
      @include breakpoint(lg) {
        font-size: 1.15rem;
      }
    }
  }
}
