@import '../../styles/variables.scss';

.footer {
  background-color: $brown;
  color: $bg;
  padding: 0 2rem;
  line-height: 2.5rem;

  a {
    text-decoration: none;
    color: $bg;
    font-weight: 100;
  }
  .heading {
    text-align: end;
    padding-top: 3rem;
    margin: 0 auto 3rem auto;
    font-size: 5rem;
    text-transform: uppercase;
    font-family: $Ibarra_Real_Nova;

    @include breakpoint(lg) {
      font-size: 2rem;
    }
    @include breakpoint(sm) {
      font-size: 2.5rem;
    }
  }

  .social_media {
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: 5rem;
    padding-bottom: 3rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    @include breakpoint(lg) {
      font-size: 1rem;
      gap: 3rem;
    }
    @include breakpoint(md) {
      display: block;
      font-size: 1rem;
    }
    a {
      &.refundPolicy {
        font-size: 1rem;
        text-transform: capitalize;
      }
    }

    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5rem;
      @include breakpoint(lg) {
        gap: 1rem;
      }
      @include breakpoint(md) {
        display: block;
      }
    }
  }
}
